// set the default shell
// default_shell "/usr/local/bin/fish"

// set theme
theme "tokyo-night"

// change layout to hide navigation hints
// default_layout "compact"

// enable proper mouse cursor selection
// mouse_mode false

// copy_command "pbcopy"


// do not save sessions
on_force_close "quit"

// disable session serialization (and thus also resurrection)
session_serialization false

// modify the defualt pane seetings
ui {
    pane_frames {
        rounded_corners true;
        hide_session_name true
    }
}
