// custom settings

// default_shell "/usr/local/bin/fish"
// scrollback_editor "/usr/bin/vim"

theme "tokyo-night"

// default_layout "compact"
// simplified_ui true
// auto_layout true
// styled_underlines true

on_force_close "quit"
session_serialization false

// mouse_mode false
// copy_command "pbcopy"
// copy_on_select false 

ui {
    pane_frames {
        rounded_corners true;
        hide_session_name true
    }
}

// end of custom settings
